/* Styling for header, footer, and grid container */
header, .grid, footer {
 max-width: 840px;
 margin: 0 auto;
}

/* Navigation styles */
nav {
 background-color: steelblue;
 padding: 1rem;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

nav a {
 display: block;
 padding: 0.5rem;
 text-decoration: none;
 font-size: 1.2rem;
 font-weight: 700;
 color: #fff;
}

/* Adding a bottom border to the h1 element */
h1 {
 border-bottom: 2px solid #000;
}

/* Grid container styles */
.grid {
 display: grid;
 grid-template-columns: 1fr 3fr;
 gap: 1rem;
}
main {
 grid-column: 2/3;
margin: 1rem;
}
aside {
 width: 20rem;
 position: relative;
 grid-column: 1/2;
 grid-row: 1/2;
}
/* Additional styles if needed */
.profile-image {
 border-radius: 50%;
}

.box {
 list-style-type: none;
 padding: 0;
}